.contenedor{
    background-color: rgb(143, 0, 119);
    /*display: inline-flex;*/
    display: flex;
}

.item{
    background-color: #ee9a74;
    width: 100px;
    height: 100px;
    margin: 10px;
    font-size: 30px;
}
